<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
    <div class="jumbotron"> 
      <h2 class="display-5 ">Welcome to our <%= title %> page</h1>
      <hr class ="my-4">
     </div>
  </div>
</div>
    <h4 class="w3-wide">About me:</h4>
    <img src="../images/profile_picture.jpg" width="400px" height="380px">

			<h6>Hello there! I'm Farzam Mohammadi, a student at Centennial College in Toronto, Ontario, Canada.</p>
      	<a class="btn btn btn-secondary" href="../assets/Resume.docx" role="button">Resume</a>
    <h4 class="w3-wide">Education:</h4>
			<p>I am currently in the 2nd year of my studies and I could not be happier about my decsion to get into the field of software engineering.<p>
			<p>At centennial I have worked hard to develop and improve my skills at building and maintaining software.</h4>
			<p>Using our contant page you can message us and file a request based on your needs or you can reach my at my personal linkedin below.</p>
    <h4 class="w3-wide">Social Media Links:</h4>
			<a class="btn btn btn-secondary" href="https://www.linkedin.com/in/farzam-mohammadi-82944b1a4" role="button">Linkedin</a>

 </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



