<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main content-->
 <main class="container">
 <div class="row">
   <div class="col">
    <div class="jumbotron"> 
      <h2 class="display-5 ">Welcome to Tusk's <%= title %> page</h1>
      <hr class ="my-4">
     </div>
  </div>
</div>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">TUSK</h2>
    <p class="w3-opacity"><i>- A company you can rely on to handle your coding needs.</i></p>
        <h4 class="w3-wide">Mission Statement:</h4>
        <p>Realizing the full potential of the internet and programming we are here to provide you with top coding services related to but not limited to languages such as C#, JAVA and Python.</p>
    <h4 class="w3-wide">Get to know us!</h4>
    <p class="w3-justify">We have created an official website and are ready to work for you. Our team as of right now consits of one primary programmer who is eager to begin his work in the field with your project.</p>
    <p class="w3-opacity">Under, you will find information about our primary team member and with the help of our contact page you can reach us whenver you're in need of our services.</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
      <a class="btn btn-lg btn-warning" href="/about" role="button">About</a>
      <a class="btn btn-lg btn-warning" href="/contact" role="button">Contact</a>
      </div>
    </div>
  </div>
 </main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



